/*body style*/
html,
body {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: #000000;
    overflow-x: hidden;
    line-height: 1.42857;
    background-color: #ffffff;
}

/* For header*/
#header-container {
    background-color: #ffffff;
    margin-top: 18px;
    margin-bottom: 18px;
}

#header-container .row > div {
    height: 61px;
}

#header-container .navbar .nav {
    margin-top: 10px;
}

#header-container .navbar-header .navbar-brand {
    padding: 5px 0 0 75px;
    font-size: 42px;
    color: #FF8000;
    line-height: 16px;
    font-weight: 900;
    margin-top: 12px;
    height: 61px;
    vertical-align: bottom;
}

#header-container .navbar-header .navbar-brand > img {
    position: absolute;
    display: block;
    vertical-align: middle;
    left: 0;
    top: 0;
}

#header-container .navbar-header .navbar-brand > span {
    display: block;
    font-weight: 300;
    font-size: 20px;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    color: #999;
    padding-top: 12px;
}

.navbar-nav li a {
    color: #FF8000;
}

.divider-vertical {
    height: 30px;
    margin-top: 12px;
    margin-left: 9px;
    margin-right: 9px;
    border-right: 1px solid #ff8000;
}

.caret {
    color: #999999;
}


/* For the slide show*/

#slideshow-container {
    height: 100%;
    position: relative;
}

#myCarousel {
    height: 100%;
}

#myCarousel .item,
#myCarousel .active {
    height: 100%;
}

#myCarousel .carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#myCarousel .carousel-caption {
    text-align: right;
    padding-bottom: 50px;
    font-size: 28px;
}

#myCarousel .carousel-caption h2 {
    color: #fff;
    padding: 15px;
    background-color: #ff8000;
    border-radius: 5px;
    display: inline-block;
}

#myCarousel .carousel-indicators {
    text-align: right;
}

#myCarousel .carousel-indicators .active {
    background-color: #ff8000;
    width: 13px;
    height: 13px;
    margin: 1px;
}

#myCarousel .carousel-indicators li {
    width: 13px;
    height: 13px;
    border: 1px solid #fff;
    border-radius: 13px;
}

#main-menu {
    position: absolute;
    top: 0;
    right:0;
    min-height: 60px;
    width: 100%;
}

#main-menu .navbar-nav {
    margin-top: 0px;
    background: rgba(51, 51, 51, 0.3);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius: 5px;
}

.navbar-nav  li > a {
    font-size: 18px;
    font-weight: 900;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav li.active a {
    background-color: transparent;
    color: #333;
    font-weight: 900;
}


#map{
    position: absolute;
    top: 0;
    left: 30%;
    max-width: 500px;
    min-width: 200px;
    height: 100%;
}



.section-title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
}

.hightlight {
    color: #ff8000;
}

#course-container {
    margin-top: 80px;
}


#course-slideshow {
    min-height: 500px;
    position: relative;
}

.content-slider li{
    background-color: #ed3020;
    text-align: center;
    color: #FFF;
    height: 100%;
}
.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}