/*body style*/
html,
body {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: #000000;
    overflow-x: hidden;
    line-height: 1.42857;
    background-color: #ffffff;
}

/* For header*/
#header-container {
    background-color: #ffffff;
    margin-top: 18px;
    margin-bottom: 18px;
}

#header-container .row > div {
    height: 61px;
}

#header-container .navbar .nav {
    margin-top: 10px;
}

#header-container .navbar-header .navbar-brand {
    padding: 5px 0 0 75px;
    font-size: 42px;
    color: #333;
    line-height: 16px;
    font-weight: 900;
    margin-top: 12px;
    height: 61px;
    vertical-align: bottom;
}

#header-container .navbar-header .navbar-brand > img {
    position: absolute;
    display: block;
    vertical-align: middle;
    left: 0;
    top: 0;
}

#header-container .navbar-header .navbar-brand > span {
    display: block;
    font-weight: 300;
    font-size: 20px;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    color: #999;
    padding-top: 12px;
}

.navbar-nav li a {
    color: #999;
}

.divider-vertical {
    height: 30px;
    margin-top: 12px;
    margin-left: 9px;
    margin-right: 9px;
    border-right: 1px solid #999;
}

.caret {
    color: #999999;
}


/* For the slide show*/

#slideshow-container {
    height: 100%;
    position: relative;
}

#myCarousel {
    width: 100%;
}

#bgvid {
    width: 100%;
    position:absolute;
    top:0;
    left:0;
}


#main-menu {
    position: absolute;
    top: 0;
    right:0;
    min-height: 60px;
    width: 100%;
}

#main-menu .navbar-nav {
    margin-top: 0px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius: 5px;
}

#main-menu .navbar-nav li a {
    color: #333;
}

.navbar-nav  li > a {
    font-size: 18px;
    font-weight: 900;
}

#main-menu .nav  li > a:hover,
#main-menu .nav  li > a:focus,
#main-menu .nav li.active a,
#header-container .nav  li > a:hover,
#header-container .nav  li > a:focus,
#header-container .nav li.active a{
    background-color: transparent;
    color: #ff8000;
    font-weight: 900;
}

#map{
    position: absolute;
    top: 0;
    left: 30%;
    max-width: 500px;
    min-width: 200px;
    height: 100%;
}